h1 {
    color: darkmagenta;
    margin-left: 45px;
}
.first{
    color: rgb(62, 59, 59);
    font-size: 22px;
    margin-left: 45px;
    line-height: 0px;
}
.otp {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    margin-top: 40px;
}
hr{
    width: 1400px;
}
.second{
    margin-left: 607px;
    font-size: 19px;
    color: darkorchid;
}
.meta{
    margin-left: 622px;
    width: 50px;
    margin-top: -60px;
}
.insta{
    margin-left: 13px;
    width: 30px;
    
}
.twitter{
    margin-left: 13px;
    width: 43px;
}
.third{
    color: rgb(62, 59, 59);
    margin-left: 625px;
    line-height: 5px;
    
}
button{
    margin-left: 602px;
    border-radius: 15px;
    background-color:darkorchid;
    width: 200px;
    height: 50px;
    font-size: 17px;
    color: white;
    margin-top: 2px;
    
}
button:hover{
    background-color:rgb(117, 75, 136) ;
    color: white;
}
.last{
    margin-left: 45px;
    font-size: 16px;
    color: rgb(62, 59, 59);
}
.fourth{
    color:darkorchid;
    font-size: 16px;
}